body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #100f0f94;
}
.bg-bill-screen{
    background-color: #4B2757;
}
.bill-background{
    background-color: #F6F2FB;
}
.bill-heading-text{
    color:  #707070;
    font-weight: 700;
}
.paid-text{
    color: #FF2626;
}
.ft-fm{
    font-family: Segoe UI, Arial;
}
.bg-radius{
    border-radius:7%;
}
.login-heading{
    font-weight: 700;
    color: #4b2757e0;
    
}
hr.new4 {
    border: 1px solid #4b2757e0;
    width: 72%;
    margin-left: 52px;

  }
  .rounded-md{
      border-radius:10px !important;
  }
  .login-btn{
      
    color: #fff;
    background-color: #4b2757;
    border-radius: 15px;

  }

.p-7 {
    padding: 2.5rem;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

  @media print{
    .bg-bill-screen{
        background-color: #4B2757;
    }
    .bill-background{
        background-color: #F6F2FB;
    }
    .bill-heading-text{
        color:  #707070;
        font-weight: 700;
    }
    .paid-text{
        color: #FF2626;
    }
    .ft-fm{
        font-family: Segoe UI, Arial;
    }
    .bg-radius{
        border-radius:7%;
    }
    .login-heading{
        font-weight: 700;
        color: #4b2757e0;
        
    }
    hr.new4 {
        border: 1px solid #4b2757e0;
        width: 72%;
        margin-left: 52px;
    
      }
      .rounded-md{
          border-radius:10px !important;
      }
      .login-btn{
          
        color: #fff;
        background-color: #4b2757;
        border-radius: 15px;
    
      }
      .bg-bill-screen{
        background-color: #fff;
 
      }
      
  }

  @media print {
    /* Hide the special layer from the screen. */
    .border-b { display: none; }
    .shadow { display: none; }
    .btm-btn {display: none;}
    .bg-bill-screen{
        background-color: #fff;
        border:2px solid black
 
      }
}

@media only screen and (max-width: 600px) {
    .ved-logo{
      max-width: 130px;
      margin-left: 80px;
    }
    }
    .mysec{
        border: 2px solid;
        border-color: #d8d7d7;
        border-radius: 30px;
        /* padding: 20px; */
    }
    .profile-heading{
        padding-left: 20px;
        background-color: #ca8a88;
        border-radius: 20px;
        padding-right: 15px;
        padding-bottom: 8px;
        padding-top: 8px;
        color: #fff;
    }
    .pl-35{
        padding-left: 35px;
    }
    .m-0{
        margin: 0;
    }
  