body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
.bg-bill-screen{
    background-color: #4B2757;
}
.bill-background{
    background-color: #F6F2FB;
}
.bill-heading-text{
    color:  #707070;
    font-weight: 700;
}
.paid-text{
    color: #FF2626;
}
.ft-fm{
    font-family: Segoe UI, Arial;
}
.bg-radius{
    border-radius:7%;
}
.login-heading{
    font-weight: 700;
    color: #4b2757e0;
    
}
hr.new4 {
    border: 1px solid #4b2757e0;
    width: 72%;
    margin-left: 52px;

  }
  .rounded-xs{
      border-radius:10px !important;
  }
  .login-btn{
      
    color: #fff;
    background-color: #4b2757;
    border-radius: 15px;

  }

  .text-center{
      text-align:center;
  }
  .text-right{
      text-align:right;
  }
  .text-left{
    text-align:left;
}
  .m-3{
    margin:1rem!important
  }
  .p-3{
    padding:2rem!important
  }
  .m-5{
    margin-left:4rem!important;
    margin-right:4rem!important;

  }
  .h3, h3 {
    font-size: 1.75rem;
    line-height: 1.2;
}
.h5, h5 {
    font-size: 1.25rem;
    line-height: 1.2;
}
.col-xs-3 {
    max-width: 180px;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-4 {
    float: left;
    max-width: 300px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5 {
    max-width: 300px;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-2 {
    max-width: 100px;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-12{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* .pl-5 {
    padding-left: 3rem!important;
} */
.row {
    margin-right: -15px;
    margin-left: -15px;
    max-width: 100%;

}
.container {
    max-width: 1140px;
}
img, video {
    max-width: 100%;
    height: auto;
}
/* .ft-fm {
    font-family: Segoe UI, Arial;
} */
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
