@media only screen and (max-width: 600px) {
    .logo {
    width: 55% !important;
    margin: 20px !important;
    margin-left: 80px !important;
}
.login-heading {
    font-size: 25px;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
.mb-3 {
    margin-bottom: 0px;
}
.svg-class {
    height: 100% !important;
    width: 34% !important;
}
.card-columns {
    width: 65%;
    margin-left: 60px;
}
.ml-100{
    margin-left: 100px;
}
.ft-16{
    font-size: 16px;
}
.ved-logo {
    max-width: 130px !important;
    margin-left: 0px !important;
}
#loading-image {
    top: 41% !important;
    left: 36% !important;
    width: 100px !important;
    height: 100px !important;
}
.ml-275 {
    /* margin-left: 275px; */
    display: none;

}

.top-70{
    /* top:-70px; */
    top:-20px;
}
.bg-screen{
    display: none;
}
.my-select{
    border-radius: 15px;
    width: 318px;
    margin-left: -20px;
}
.mt-45{
    /* margin-top: -45px; */
    margin-top: 0px;
}
.b-w{
    width: 110%;
    margin-left: -15px;
}
.p-7 {
    padding: 1.5rem;
}
.ml-80{
    margin-left: 74px;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.tc{
    text-align:center;
}
.mydate{
    text-align: center !important;
    padding-top: 13px;
}
.logo-120 {
    max-width: 130px !important;
    margin-left: 127px !important;
}
}

@media screen and (max-width: 2500px) and (min-width: 610px) {
    .bg-screen{
        display: block;
    }
    .sm-screen{
        display: none;
    }
}